* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #23252c;
}

main {
  width: 550px;
  background-color: white;
  height: 100%;
  margin: 0 auto;
  margin-top: 48px;
  opacity: 1;
  border-radius: 10px;
}


.profile-pic {
  width: 100%;
  border-radius: 10px;
}

.profile-name {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #2B283A;
}


.footer {
  background: #D5D4D8;
}

.footer-icons {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}

