* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #23252c;
}

main {
  width: 317px;
  background-color: white;
  margin: 0 auto;
  margin-top: 48px;
  opacity: 1;
  border-radius: 10px;
  overflow: hidden;
}


.profile-pic {
  width: 100%;
  height: 317px;
  object-fit: cover;
  display: block;
}

.profile-name {
  text-align: center;
  font-size: 1.563rem;
  font-weight: 700;
  color: #2B283A;
  margin-bottom: 0.4em;
}

.profile-role {
  font-size: 0.99rem;
  color: #F47D27;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.2em;
}

.profile-portfolio {
  color: #4A4E74;
  font-size: 0.86rem;
  text-align: center;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 1em;
}

.social-link-btns {
  display: flex;
  gap: 20px; 
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.social-link-btns button {
  display: flex;
  align-items: center;
  gap: 6px; 
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 6px;
}

.email-btn {
  border: 2px solid #E3E3E3;
  color: #1E1F26;
}

.linkedin-btn {
  border: none;
  background-color: #297FE5;
  color: #ffffff;
}

.email-btn,
.linkedin-btn {
  font-size: 0.8rem;
}

.about {
  padding: 20px 20px 10px;
}

.interests {
  padding: 10px 20px 20px;
}


.about-title,
.interests-title {
  font-size: 1.4rem;
  color: #2B283A;
  margin-bottom: 0px;
}

.profile-description,
.profile-interests {
  font-size: 0.94rem;
  color: #4A4E74;
  font-weight: 400;
}



.footer {
  background: #D5D4D8;
  width: 317px;
  height: 64px;
}

.footer-icons {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}

.footer-icons .icons {
  width: 25px;
  height: 25px;
}
